.note{
    background-color: #fef68a;
    border-radius: 10px;
    padding: 1rem;
    min-height: 250px;
    white-space: pre-wrap;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.267);
  }
  .text-wrapper{
    gap: 10px;
  }