.note-list{
  display: grid;
  grid-gap: 1rem;
  padding: 20px;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.form-control{
  border: 1px solid rgba(0, 0, 0, 0.467);
}
.modal-body{
  margin: 0 auto;
}